
.page-about {
  figure {
    figcaption {
      text-align: right;
      font-style: italic;
    }
  }
  #about-content {
    div {
      margin-bottom: 2rem;
    }
  }
  .gallery-button {
    margin: 0;
    
  }
}