
.page-about {
  figure {
    figcaption {
      text-align: right;
      font-style: italic;
    }
  }
  #about-content {
    div {
      margin-bottom: 2rem;
    }
  }
  .gallery-button {
    margin: 0;
    
  }
}

@media screen and (min-width: 768px) {

  #about-content {
    margin-inline: auto;
  }

  #hoover-pic {
    // max-width: 500px;
    order: -1;
  }
}