
.page-about {
  
  figure {
    figcaption {
      text-align: right;
      font-style: italic;
    }
  }
  #about-content {
    
    div {
      margin-bottom: 2rem;
    }
  }
  .gallery-button {
    margin: 0;
    
  }
}

#hoover-pic {
  display: none;
}
#hoover-pic1 {
  display: block;
  border-radius: 0 3px 3px 0
}

@media screen and (min-width: 768px) {

  .page-about {
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    figcaption {
      font-size: .8rem;
    }
      
  }

  #hoover-pic1 {
    display: none;
    border-radius: 0 3px 3px 0
  }

  #hoover-pic-2 {
    border-radius: 0 3px 3px 0;
  }
  
  #hoover-pic {
    display: block;
    width: 50%;
    
  }
  #about-content{
    width: 50%;
    max-width: 500px;
    margin-top: 50px;
  }
 

    #page-about__gal-but {
      width: 50%;
    
  }
    

}