

.slider {
  &__title {
    margin: 0 auto;
    margin-bottom: -20px;
    text-align: center;
  }
}

.tns-outer {
  margin-top: 0;
  .tns-controls {
    margin-inline: auto;
    width: fit-content;
    display: none;
    button {
      visibility: hidden;
      position: relative;
      border: $color-green-300 solid .1px;
      border-radius: 5px;
      padding: .1rem .3rem;
      @include text-style-body;
      font-size: .6rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: .2rem;
      // &:first-child:after{
      //   visibility: visible;
      //   position: absolute;
      //   background-color: grey;
      //   top: 0;
      //   left: 0;
      //   content: "<";
      //   padding: 1rem;
      // }
      // &:last-child:after{
      //   visibility: visible;
      //   position: absolute;
      //   background-color: grey;
      //   top: 0;
      //   left: 0;
      //   content: ">";
      // }
    }
  }
  
  .tns-nav {
    margin-inline: auto;
    width: fit-content;
    margin-top: 0;
    button {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      border: 1px solid $color-green-300;
      margin: 1rem .1rem;
      margin-top: .5rem;
      transform: scale(.5);
      background-color: none;

    }
    &-active {
      background-color: $color-green-300;
    }
  }
}