//Contact Form
  .contact {
    background-color: $color-yellow-200;
    width: 100vw;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem 1.25rem;

    .contact-form {
      background-color: #fff;
      padding: 1.25rem;
      width: 100%;
      border: 1px solid $color-green-primary;
      border-radius: 15px;
      margin-top: 2rem;

     

      legend {
        @include text-style-heading-2();
        margin-bottom: 1rem;
      }
      input, textarea {
        border: none;
        background-color: #DCDED8;
        @include text-style-body;
        padding: .5rem;
        border-radius: 3px 15px 3px 3px;
        width: 100%;
      }
    }
  }

  //Contact Page
  .page-contact {
    .contact-info, .address {
      svg {
        vertical-align: middle;
        position: relative;
        margin-bottom: 5px;
        margin-right: 5px;
        
      }
    }
    .contact-info a {
      display: block;
      width: fit-content;
    }

    .contact-info {
      width: 100%;
    }

    @media screen and (min-width: 367px) {
      .contact-info {
        display: flex;
        gap: 1rem;
      }
    }

    .contact {
      background: none;
      margin-top: 2rem;
      margin-bottom: 0;
      padding: 0;
      width: 100%;
    }

  }