$color-green-primary: rgba(78,92,60,1);
$color-yellow-primary: rgba(255,180,91,1);
$color-accent: rgba(69,153,252,1);
$color-body: rgba(44,35,25,1);
$color-grey: rgba(114,106,102,1);
$color-lightgrey: rgba(165,157,153,1);
$color-green-600: rgba(62,74,48,1);
$color-green-700: rgba(47,55,36,1);
$color-green-800: rgba(31,37,24,1);
$color-green-400: rgba(113,125,99,1);
$color-green-300: rgba(149,157,138,1);
$color-yellow-600: rgba(204,144,73,1);
$color-yellow-700: rgba(153,108,55,1);
$color-yellow-400: rgba(255,195,124,1);
$color-yellow-300: rgba(255,210,157,1);
$color-yellow-200: rgba(255,225,189,1);


@mixin text-style-button() {
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

/* Center body and fix to minimum width */


body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

main {
  min-width: 318px;
  box-sizing: border-box;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Images will always scale to be no wider than their container */
img {
  max-width: 100%;
}

@mixin button-hover-green(){
  background-color: $color-green-primary;
}
@mixin button-hover-yellow(){
  background-color: $color-yellow-primary;
}

//Button
  .button, #button {
    display: block;
    width: fit-content;
    padding: 1rem 4rem;
    background-color: $color-green-primary;
    border-radius: 0 15px 0 15px;
    color: #fff;
    @include text-style-button();
    margin: 0;
    margin-bottom: 1rem;
    transition: all .2s ease;
    &:hover {
      @include button-hover-yellow();
      color: $color-body;
    }
  }

  #button {
    margin-bottom: 0;
  }

  .button-yellow {
    display: block;
    width: fit-content;
    background-color: $color-yellow-primary;
    padding: 1rem 4rem;
    border-radius: 0 15px 0 15px;
    color: $color-body;
    @include text-style-button();
    margin: 0;
    margin-bottom: 1rem;
    transition: all .2s ease;
    
    &:hover {
      @include button-hover-green();
      color: #fff;
    }
  }



a,
body {
  color: $color-body;
}

.white {
  color: #fff;
}

.yellow-emphasis {
  color: $color-yellow-primary;
}

.hero__image, .subhero__image {
  width: 100%;
}

.gallery-button img {
  width: 50%;
}

@mixin drop-shadow() {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}
@mixin drop-shadow2() {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}




@mixin link-hover {
  &{
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: .4rem;
    transition: all .3s;
  }

  &:before {
    content: '';
    position: absolute;
    left: -100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all .3s;
    color: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all .5s;
    color: #fff;
  }

  &:hover:before, &:hover:after {
    left: 0;
  }
}