//Contact Form
  .contact {
    background-color: $color-yellow-200;
    width: 100vw;
    margin-bottom: 2rem;
    padding: 2rem 1.25rem;

    .contact-form {
      background-color: #fff;
      padding: 1.25rem;
      width: 100%;
      border: 1px solid $color-green-primary;
      border-radius: 15px;
      margin-top: 2rem;

     

      legend {
        @include text-style-heading-2();
        margin-bottom: 1rem;
      }
      input, textarea {
        border: none;
        background-color: #DCDED8;
        @include text-style-body;
        padding: .5rem;
        border-radius: 3px 15px 3px 3px;
        width: 100%;
      }
    }
  }