
footer{
  color: #fff;
  text-align: center;
  a {
    color: #fff;
    @include hover-scale;
  }
  ul {
    list-style: none;
    padding: 0;
    li a{
      margin: 0;
      padding: 0;
    }
  }

  .footer__logo{
    margin: 0 auto;
    margin-bottom: 1rem;
    width: fit-content;
    @include hover-scale;
  }

  .footer__nav {
    background-color: $color-green-primary;
    padding: 1rem;
  }

  .footer__social {
    background-color: $color-green-600;
    padding: 2rem;
    
    ul {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      padding: 0;
      max-width: 20em;
      li {
        margin: 0;
        padding: 0;
        
        
        img {
          margin: 0;
          padding: 0;
          @include hover-scale2;
    
        }
        svg:hover {
          fill: #fff;
        }

      }
    }
  }

  .footer__address {
    background-color: $color-green-700;
    padding: 2rem;
    margin-bottom: -5px;
    a {
      display: block;
      @include hover-scale;
      margin-bottom: 0;
    }
   
    img{
      vertical-align:middle;
      position: relative;
      margin-bottom: 5px;
      margin-right: 5px;
      
    }
  }

  .footer__contact {
    background-color: $color-green-800;
    padding: 2rem;
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    img{
      vertical-align:middle;
      position: relative;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    a {
      display: block;
      @include hover-scale;
      margin-bottom: 0;
    }
    a:first-child {
      margin-right: 1rem;
    }
  }

  .footer__copyright {
    background-color: #10120C;
    padding: 1.3rem;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .pages__list {
    padding: 0;
    margin: 0;
    li {
      margin: .75rem;
    }
  }
  .page-link{
    position: relative;
    display: block;
    overflow: hidden;
    transition: all .3s;  
    @include text-style-d-nav-items;
    margin-bottom: 0;
    opacity: .8;
    font-weight: $weight-reg;
  }

  .active {
    font-weight: 700;
    opacity: 1;
  }

}

@media screen and (min-width: 780px) {
  footer {

    .footer__address a, .footer__contact a {
      font-size: clamp(.8rem, 1.8vw, 1rem);
    }
    
    .pages__list {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    .footer__flex {
      display: flex;
      
    }
    .footer__social, .footer__address, .footer__contact, .footer__copyright {
      width: 50%;
      height: 102px;
      
    }
    .footer__copyright {
      p{
        padding: 1rem;
        font-size: clamp(.8rem, 1.8vw, 1rem);

      }
    }
  }
}