.page-gallery {

 .gallery-list {
  &__pic {
    margin-bottom: 1rem;
  }
 }

}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(307px, 1fr));
  grid-template-rows: auto;
  column-gap: 1rem;

}
  