
.hero {
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;

  &__overlay {
    text-align: left;
    position: absolute;
    height: 0px;
    z-index: 1;
    width: 70%;

    transform: translate(1rem, 10rem);
    @include text-shadow();
    
  }

  &__image {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 39rem;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.page-home {
  #medallion {
    width: 33%;
  }


  #home-latest-projects--button-top {
    display: none;
  }

  .home-latest-projects {
    margin-top: 4rem;
  }

  .home-latest-projects__pics {
    img {
      margin-bottom: 1rem;
    }
  }
  h2 {
    @include text-style-heading-2;
  }
}

@media screen and (min-width: 500px) {

  .hero {
  
    &__overlay {
      text-align: center;
      position: absolute;
      width: calc(100% - 2.25rem);
      height: fit-content;
      

      @include text-shadow();
      // border: 2px solid red;
      .hero__overlay--child {
        // border: 2px solid blue;
        width: clamp(50px, 90vw, 790px);
        margin: 0 auto;
        font-size: clamp(2rem, 0vw, 4rem);
      
      }
      h2 {
        font-size: clamp(2.5rem, 5vw, 3.2rem);
        line-height: clamp(3rem, 5vw, 4rem);
      }
    } 
  }
  #hero__overlay--button{
    text-align: center;
    margin: 0 auto;
    
  }
}

@media screen and (min-width: 768px) {
  .hero{
    &__overlay {
      transform: translate(1rem, 13rem);
    }
  }
  .page-home {
    
    .home-about {
      margin-top: 2rem;
      margin-bottom: 6rem;
      display: flex;
      gap: 1rem;
      &__right {
        width: 60%;
        // border: 1px solid blue;
        &--content {
          width: 70%;
          // border: 1px solid red;
        }
      }

      &__left {
        width: 40%;
        text-align: right;
        // border: 1px solid red;
        
      }
    }
    #medallion {
      width: 50%;
      margin-top: -8px;
    }
    .home-latest-projects__pics {
      // border: 1px solid red;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      img {
        margin: 0rem;
        height: 100%;
      }
      &--left {
        // border: 1px solid blue;
        grid-column: 1/3;
        grid-row: 1/3;
      }
      &--right {
        // border: 1px solid green;
        grid-column: 3/3;
        grid-row: 1/2;
        

      }
      &--right2 {
        // border: 1px solid green;
        grid-column: 3/3;
        grid-row: 2/3;
        &:first-child {
          margin-bottom: 1rem;
        }

      }
    }
    #home-latest-projects--button-bottom{
      display: none;
    }
    #home-latest-projects--button-top{
      display: block;
    }
    .home-latest-projects__head{
      display: flex;
      justify-content: space-between;
      align-items:flex-end;
    }
  }
  
}
