header {
  padding: 1.2rem;
  padding-bottom: 0px;
  margin-bottom: 0;
  position: static;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 90em;
 
  
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 
  margin-inline: auto;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 0;
    
    svg {
      filter: drop-shadow(1px 1px 12px rgb(0 0 0 / 0.7));
      
    }
  }
 
  .hamburger {
    display: none;
    transition: .1s ease;
    
    .bar {
      display: block;
      width: 21px;
      height: 3px;
      border-radius: 0 3px;
      margin: 4px auto;
      background-color: white;
      transition: .3s all ease;
      @include drop-shadow();
      

    }
  }

  
  
  nav {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4rem;
   
    
    ul {
      display: flex;
      margin: 0;
      width: fit-content ;
    }
  
    li {
      margin: 0 auto;
      margin-left: 3rem;
      list-style: none;
  
      .page-link{
        position: relative;
        display: block;
        padding-bottom: .4rem;
        transition: all .3s;  
        @include text-style-d-nav-items;
      }

      .active {
        font-weight: 700;
        color: $color-yellow-primary;
        // border-bottom: 2px solid $color-yellow-primary;
        }
  
      // .page-link:before {
      //   content: '';
      //   position: absolute;
      //   left: -100%;
      //   bottom: 0;
      //   height: 2px;
      //   width: 100%;
      //   background-color: white;
      //   transition: all .3s;
      //   color: #fff;
      // }
  
      // .page-link:after {
      //   content: '';
      //   position: absolute;
      //   left: 100%;
      //   bottom: 0;
      //   height: 2px;
      //   width: 100%;
      //   background-color: white;
      //   transition: all .5s;
      //   color: #fff;
      // }
  
      // .page-link:hover:before, .page-link:hover:after {
      //   left: 0;
      // }
  
    }
  
    li:first-child {
      margin-left: 0rem;
    }
  }
}

// .fixed-position {
//   position: fixed;
// }

.lock-scroll {
  position: fixed;
}

@media screen and (max-width: 768px) {

  nav {
    
    .hamburger {
      display: block;
    }
   

    .hamburger.active1 .bar:nth-child(2){
      opacity: 0;
      
    }
    .hamburger.active1 .bar:nth-child(1){
      transform: translateY(7px) rotate(45deg);
      border-radius: 3px;
    }

    .hamburger.active1 .bar:nth-child(3){
      transform: translateY(-7px) rotate(-45deg);
      border-radius: 3px;
    }

    .pages__list {
      position: absolute;
      top: 0px;
      right: -100%;
      flex-direction: column;
      background-color: $color-green-primary;
      width: 50%;
      text-align: right;
      transition: 0.3s;
      z-index: -1;
      overflow: hidden;
      padding-left: 3rem;
      padding-right: 1.25rem;
      padding-top: 6rem;
      transition: 350ms ease;
      height: 100vh;
  

      li {
        margin: 1rem 0;
      }
    }

    .pages__list.active1 {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 0;
      opacity: .85;
    }
  }
}

@media screen and (min-width: 768px) {

  header {
    padding-inline: 2rem;
    nav {
      li {
        .page-link {
          padding-bottom: 0;
          margin-bottom: 0;
          font-size: 1rem;
          @include text-shadow()
        }
        margin-left: 2rem;
      }
    }
  }
}