.subhero {
  position: relative;
  margin-bottom: 4rem;

  &__overlay {
    text-align: left;
    position: absolute;
    height:fit-content;
    z-index: 0;
    width: 75em;
    transform: translate(1.25rem, 16rem);
    h2 {
      color: #fff;
    }
  }

  &__image {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 22rem;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
@media screen and (min-width: 768px) {
  .subhero {
    
    &__overlay {
      transform: translate(2rem, 16rem);
    }
  }
}