.subhero {
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;
  &::after{
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.5)), color-stop(50%,rgba(110, 110, 110, 0.003))); /* Chrome,Safari4+ */
  }

  &__overlay {
    text-align: left;
    position: absolute;
    height:fit-content;
    z-index: 1;
    width: 75em;
    transform: translate(1.25rem, 16rem);
    h2 {
      color: #fff;
      @include text-shadow;
    }
  }

  &__image {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 22rem;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    
  }
}
@media screen and (min-width: 768px) {
  .subhero {
    
    &__overlay {
      transform: translate(2rem, 16rem);
    }
  }
}